<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<style>
.ascii-banner {
    line-height: 1 !important;
    -webkit-text-size-adjust: none !important;
    text-size-adjust: none !important;
}
@media (max-width: 600px) {
    .ascii-banner {
        font-size: 1.6vw !important;
    }
}
</style>
